body {
    background-color: #adadad;
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    font-style: oblique;
    font-size: 30px;
}

.image-box {
    text-align: center;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 3px;
    margin: 0px 0;
}

#title {
    background-color: #5e5e5e;
    padding: 6px;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

img {
    border: 3px solid #5e5e5e;
    border-radius: 5px;
    margin: 10px;
    height: 200px;
    width: 300px;
}

.footer {
    text-align: center;
    color: #6e6e6e;
    font-size: 5px;
}

p {
    color: #6e6e6e;
    font-family: monospace;
    font-size: 20px;

}

h2 {
    text-align: center;
    color: #1AEC03;
}

.links {
    text-align: center;
    font-size: 25px;
    background-color: #cfcfcf;
    padding: 5px;
    border-radius: 3px;
}

a {
    color: #1AEC03;
    margin: 15px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.list {
    background-color: #5e5e5e;
    padding: 6px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section-header {
    background-color: #838383;
    text-align: center;
    padding: 0.09px;
    border-radius: 3px;

}


table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

th {
    background-color: #6e6e6e;
    color: #ffffff;
    padding: 12px;
    text-align: center;

}

td {
    padding: 10px;
    border-bottom: 1px solid #1AEC03;
}


tr:hover {
    background-color: #1AEC03;
}